In [1]:
import pandas as pd
import numpy as np

In [2]:
# read the data
train_raw = pd.read_csv("./dataset/train.csv")
test_raw = pd.read_csv("./dataset/test.csv")

In [3]:
# check the data shape
print("train data shape: ", train_raw.shape)
print("test data shape: ", test_raw.shape)

train data shape:  (25000, 5480)
test data shape:  (5000, 5479)

In [4]:
train_raw.head()

,id,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_5470,var_5471,var_5472,var_5473,var_5474,var_5475,var_5476,var_5477,var_5478,target
0,id_1,0.015625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.355422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,id_2,0.187500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.150602,...,0.0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0
2,id_3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,0.008333,NaN,NaN,0.0,NaN,NaN,0.0,0
3,id_4,0.156250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.018072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,id_5,0.046875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.096386,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
train_raw.target.value_counts(normalize=True)

0    0.85316
1    0.14684
Name: target, dtype: float64

In [6]:
# check for missing values
train_raw.isnull().mean()

id          0.00000
var_1       0.08496
var_2       0.08496
var_3       0.08496
var_4       0.08496
             ...
var_5475    0.95896
var_5476    0.96844
var_5477    0.99972
var_5478    0.89720
target      0.00000
Length: 5480, dtype: float64

In [7]:
# columns with missing values > 50%
null50 = train_raw.isnull().mean()[train_raw.isnull().mean() > 0.5].index

print(null50)

Index(['var_11', 'var_12', 'var_13', 'var_15', 'var_16', 'var_17', 'var_19',
       'var_20', 'var_21', 'var_23',
       ...
       'var_5469', 'var_5470', 'var_5471', 'var_5472', 'var_5473', 'var_5474',
       'var_5475', 'var_5476', 'var_5477', 'var_5478'],
      dtype='object', length=2441)

In [9]:
# drop columns with missing values > 50%
train_raw.drop(null50, axis=1, inplace=True)
test_raw.drop(null50, axis=1, inplace=True)

In [10]:
# drop id columns
train_raw.drop(['id'], axis=1, inplace=True)
test_raw.drop(['id'], axis=1, inplace=True)

print("train data shape: ", train_raw.shape)
print("test data shape: ", test_raw.shape)

train data shape:  (25000, 3038)
test data shape:  (5000, 3037)

In [11]:
# check for constant columns
const_cols = train_raw.nunique()[train_raw.nunique() == 1].index

# drop constant columns
train_raw.drop(const_cols, axis=1, inplace=True)
test_raw.drop(const_cols, axis=1, inplace=True)

print("train data shape: ", train_raw.shape)
print("test data shape: ", test_raw.shape)

train data shape:  (25000, 1024)
test data shape:  (5000, 1023)

In [12]:
# check for duplicated columns
dup_cols = train_raw.T.duplicated()[train_raw.T.duplicated() == True].index

# drop duplicated columns
train_raw.drop(dup_cols, axis=1, inplace=True)
test_raw.drop(dup_cols, axis=1, inplace=True)

print("train data shape: ", train_raw.shape)
print("test data shape: ", test_raw.shape)

train data shape:  (25000, 997)
test data shape:  (5000, 996)

(30000, 1000)