In [2]:
import pandas as pd
import numpy as np

In [3]:
# read the data
df = pd.read_csv("./dataset/train.csv")

In [5]:
df.shape

(25000, 5480)

In [6]:
df.columns

Index(['id', 'var_1', 'var_2', 'var_3', 'var_4', 'var_5', 'var_6', 'var_7',
       'var_8', 'var_9',
       ...
       'var_5470', 'var_5471', 'var_5472', 'var_5473', 'var_5474', 'var_5475',
       'var_5476', 'var_5477', 'var_5478', 'target'],
      dtype='object', length=5480)

In [7]:
df.head()

,id,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_5470,var_5471,var_5472,var_5473,var_5474,var_5475,var_5476,var_5477,var_5478,target
0,id_1,0.015625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.355422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,id_2,0.187500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.150602,...,0.0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0
2,id_3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,0.008333,NaN,NaN,0.0,NaN,NaN,0.0,0
3,id_4,0.156250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.018072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,id_5,0.046875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.096386,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [9]:
df.target.value_counts(normalize=True)

0    0.85316
1    0.14684
Name: target, dtype: float64

In [11]:
# check for missing values
df.isnull().mean()

id          0.00000
var_1       0.08496
var_2       0.08496
var_3       0.08496
var_4       0.08496
             ...
var_5475    0.95896
var_5476    0.96844
var_5477    0.99972
var_5478    0.89720
target      0.00000
Length: 5480, dtype: float64